@import '../../../variable.less';

.whatIsPerpetual {
  background: #fff;
  max-width: @max-content-width;
  margin: 0 auto;
  padding-top: 0.6rem;

  .leftContent {
    padding-right: 1.54rem;
    position: relative;

    .milestone {
      width: 1.54rem;
      position: absolute;
      top: 0;
      right: 0;
      ul {
        list-style: none;
        font-size: 0.18rem;
        font-family: Gilroy-Bold, Gilroy;
        color: #000000;
        line-height: 0.2rem;
        padding-left: 0;

        li {
          padding-bottom: 0.5rem;
          padding-left: 0.18rem;
          border-left: 0.16rem solid #f4f4f4;
          position: relative;

          &.active {
            border-color: #1346ff;
          }
          span {
            font-weight: bold;
          }

          p {
            font-weight: normal;
            margin: 0;
          }
        }
      }
    }
    & > h2 {
      font-size: 0.6rem;
      font-family: Gilroy-Bold, Gilroy;
      font-weight: bold;
      color: #000000;
      line-height: 0.74rem;
      margin-bottom: 0.24rem;
    }

    & > h2 + p {
      font-size: 0.2rem;
      font-family: Gilroy-Regular, Gilroy;
      font-weight: 400;
      color: #000000;
      line-height: 0.24rem;
      opacity: 0.6;
    }

    .details {
      margin-top: 0.6rem;
      & > h3 {
        font-size: 0.3rem;
        font-family: Gilroy-Bold, Gilroy;
        font-weight: bold;
        color: #000000;
        line-height: 0.33rem;
        margin-bottom: 0.6rem;
      }

      .detailItem {
        .itemImg {
          width: 0.8rem;
          height: 0.8rem;
        }
        p {
          font-size: 0.18rem;
          padding: 0 2em 0 0;
          font-family: Gilroy-Regular, Gilroy;
          font-weight: 400;
          color: #000000;
          line-height: 0.2rem;
          margin-top: 0.2rem;
          margin-bottom: 0;
          opacity: 0.6;
        }
      }
    }
    .partnerWpr {
      text-align: center;
    }

    .partnerItem {
      width: 0.12rem;
      height: 0.5rem;
      display: inline-block;
      margin: 0.35rem 0;
    }

    img {
      height: 100%;
    }
  }
}
