.root {
  background: #ffffff;
  border-radius: 8px;
  padding: 40px 20px;

  :global {
    .ant-descriptions-item > span {
      width: 50%;
    }
    .ant-descriptions-item > span:nth-child(1) {
      text-align: left;
      font-size: 14px;
      font-weight: 500;
      color: #a6a6a6;
      line-height: 17px;
    }
    .ant-descriptions-item > span:nth-child(2) {
      text-align: right;
      font-size: 14px;
      font-weight: 500;
      color: #333333;
      line-height: 17px;
    }
  }
}
