.root {
  & > h2 {
    font-size: 32px;
    font-weight: bold;
    color: #383838;
    margin-bottom: 30px;
  }
  .card {
    background: #ffffff;
    border-radius: 8px;
    padding: 40px 20px;
  }

  :global {
    
  }
}
