.airIcon {
  cursor: pointer;
}

.wrapper {
  text-align: center;

  .span {
    display: inline-block;
    width: 10px;
  }
  .amount {
    font-size: 36px;
    color: #1346ff;
    font-weight: bold;
  }

  .addressTitle {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
  }

  .addressContent {
    font-size: 16px;
    color: #666666;
    font-weight: normal;
  }
}
