.root {
  height: 730px;
  background: #f8fcff;
  padding-top: 170px;

  h2 {
    text-align: center;
    font-size: 40px;
    font-family: Gilroy-Bold, Gilroy;
    font-weight: bold;
    color: #272727;
    line-height: 50px;
  }

  .partnerWpr {
    text-align: center;
  }

  .partnerItem {
    width: 120px;
    height: 50px;
    display: inline-block;
    margin: 50px 36px;
  }

  img {
    height: 100%;
  }
}
