.backedBy {
  background: #fff;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  & > div {
    width: 100%;
  }
  h2 {
    font-size: 0.6rem;
    font-family: Gilroy-Bold, Gilroy;
    font-weight: bold;
    color: #000000;
    line-height: 0.74rem;
    text-align: center;
    margin: 0 0 0.45rem;
  }

  .partnerWpr {
    text-align: center;
  }

  .partnerItem {
    width: 1.2rem;
    height: 0.5rem;
    display: inline-block;
    margin: 0.35rem 0;
  }

  img {
    height: 100%;
  }
}
