@import '../../../variable.less';

.howWorks {
  background: #000;
  color: #fff;

  .workContent {
    max-width: @max-content-width;
    margin: 0 auto;
  }
  h2 {
    color: #fff;
    font-size: 60px;
    font-family: Gilroy-Bold, Gilroy;
    font-weight: bold;
    color: #ffffff;
    line-height: 74px;
    margin-bottom: 120px;
  }

  .dots {
    margin-top: 64px;

    & > div {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      margin-right: 12px;
    }
    &.theme1 {
      & > div {
        background: #a7f5ff;
      }
    }
    &.theme2 {
      & > div {
        background: #ffee2f;
      }
    }
    &.theme3 {
      & > div {
        background: #979dff;
      }
    }
    &.theme4 {
      & > div {
        background: #e88cff;
      }
    }
    &.theme5 {
      & > div {
        background: #ffffff;
      }
    }
  }

  .rightContent {
    padding-bottom: 60px;
    .imgContainer {
      width: 560px;
      img {
        width: 100%;
      }
    }
    p {
      font-size: 14px;
      font-family: Gilroy-Regular, Gilroy;
      font-weight: 400;
      color: #ffffff;
      line-height: 17px;
      margin-top: 60px;
      opacity: 0.6;
    }
  }
  .leftContent {
    p {
      font-size: 18px;
      font-family: Gilroy-Regular, Gilroy;
      font-weight: 400;
      color: #ffffff;
      line-height: 22px;
      opacity: 0.6;
      margin-top: 10px;
    }
  }

  img {
    height: 100%;
  }
}
