@import '../../../variable.less';

.howWorks {
  background: #000;
  color: #fff;
  padding-top: 0.6rem;

  .workContent {
    margin: 0 auto;
  }
  h2 {
    color: #fff;
    font-size: 0.6rem;
    font-family: Gilroy-Bold, Gilroy;
    font-weight: bold;
    color: #ffffff;
    line-height: 0.74rem;
    margin-bottom: 1.2rem;
  }

  .dots {
    margin-top: 0.64rem;

    & > div {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 16px;
      margin-right: 0.12rem;
    }
    &.theme1 {
      & > div {
        background: #a7f5ff;
      }
    }
    &.theme2 {
      & > div {
        background: #ffee2f;
      }
    }
    &.theme3 {
      & > div {
        background: #979dff;
      }
    }
    &.theme4 {
      & > div {
        background: #e88cff;
      }
    }
    &.theme5 {
      & > div {
        background: #ffffff;
      }
    }
  }

  .rightContent {
    padding-bottom: 0.6rem;
    .imgContainer {
      width: 5.6rem;
      img {
        width: 100%;
      }
    }
    p {
      font-size: 0.14rem;
      font-family: Gilroy-Regular, Gilroy;
      font-weight: 400;
      color: #ffffff;
      line-height: 0.17rem;
      margin-top: 0.6rem;
      opacity: 0.6;
    }
  }
  .leftContent {
    p {
      font-size: 0.18rem;
      font-family: Gilroy-Regular, Gilroy;
      font-weight: 400;
      color: #ffffff;
      line-height: 0.22rem;
      opacity: 0.6;
      margin-top: 0.1rem;
    }
  }

  img {
    height: 100%;
  }
}
