@import '../common.less';

.tableList {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  .more {
    margin: 32px auto 0;
    display: block;
  }
  :global {
    .ant-table-tbody td,
    .ant-table-thead th,
    .ant-table-thead td {
      border: 0;
      background-color: #f9fafc !important;
      text-align: left;
    }
    .ant-table-thead th:last-child,
    .ant-table-body td:last-child {
      text-align: right;
    }
    .ant-table-tbody tr:hover td {
      background-color: #f6f7f9 !important;
    }
    .ant-table-thead .ant-table-column-title {
      font-size: 14px;
      color: #808080;
      font-weight: normal;
    }

    .ant-btn-link {
      padding: 0;
    }
  }
  h4 {
    text-transform: uppercase;
    margin-bottom: 32px;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 800;
    color: #333333;
  }
}
