@import '../common.less';

.poolMsg {
  text-align: center;
  border-radius: 0;
}

.root {
  margin-bottom: 267px;
  padding: 0 1em;
  background-color: #f9fafc;
  line-height: 1;

  &.mobile {
    margin-bottom: 60px;
    & > h2 {
      font-size: 18px;
      margin: 30px 0;
      padding: 0;
    }
    .uppercase {
      font-size: 14px;
    }
    .tabContainer {
      h3 {
        font-size: 18px;
        margin: 30px 0 0;
      }
      p.coins {
        font-size: 30px;
      }
      .cal {
        font-size: 16px;
      }
    }
    .panels {
      :global {
        .ant-row > div {
          margin-top: 28px;
        }
      }
    }
  }

  & > h2 {
    .tradeTitleMixin;
    margin: 0;
  }
  .panels {
    max-width: 900px;
    margin: 24px auto 0;
  }
  .tabContainer {
    padding: 20px 24px 16px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    padding: 0;
    // background: #ffffff;

    h3 {
      font-size: 24px;
      font-weight: 500;
      color: #333333;
      line-height: 29px;
      letter-spacing: 1px;
      margin: 56px 0 36px;
    }
    p.coins {
      font-size: 48px;
      font-weight: bold;
      color: #1346ff;
      line-height: 59px;
      letter-spacing: 2px;
      margin-bottom: 0;
    }
  }

  :global {
    .ant-tabs {
      overflow: unset;
    }
    .ant-tabs-content {
      box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
    }
  }

  .cal {
    font-size: 24px;
    font-weight: 800;
    color: #333333;
    line-height: 31px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 24px;
    span {
      color: #1346ff;
    }
  }
  .actionArea {
    max-width: 480px;
    margin: 0 auto;
    padding-top: 24px;
  }
  .privateArea.actionArea {
    padding-top: 80px;
    .btn {
      margin: 28px 0 60px;
    }
  }
  .btn {
    width: 100%;
    margin: 28px 0 60px;
    font-size: 18px;
    color: #ffffff;
    line-height: 22px;
    letter-spacing: 1px;
  }
  .uppercase {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 1px;
  }
}
