.root {
  text-align: center;
  color: #FFF;
  background-color: #FFF;
  padding-bottom: 80px;
  
  h3{
    // color: #fff;
  }
  ul{
    list-style: none;

    li{
      display: inline-block;
    }
    li + li {
      margin-left: 50px;
    }
  }
}
