.root {
  &.mobile {
    background-color: #f9fafc;
    .currPrice,
    .headArea {
      padding-left: 16px;
      padding-top: 16px;
      :global {
        .ant-select-selection-selected-value {
          font-size: 18px;
        }
      }
    }
    .range {
      text-align: left;
      padding-right: 10px;
    }
    :global {
      .ant-select-selection {
        background-color: transparent;
      }
    }
  }
  .headArea {
    padding-left: 30px;
    padding-top: 32px;
  }
  .currPrice {
    padding-left: 30px;
  }
  .currVal {
    font-size: 36px;
    font-weight: bold;
    color: #333333;
  }
  .change {
    font-size: 14px;
    font-weight: 500;
    color: #ff6666;

    span {
      color: #333;
    }
  }
  .range {
    text-align: right;
    padding-right: 16px;
    button {
      font-size: 14px;
      font-weight: 500;
      color: #333333;

      &.current {
        color: #1346ff;
      }
    }
  }

  :global {
    .ant-select-selection {
      border-color: transparent;
      box-shadow: none;
      &:focus,
      &:active {
        border-color: transparent;
        box-shadow: none;
      }
    }
  }
}
