.tradeInfoPool {
  max-width: 1200px;
  margin: 48px auto 140px;
  .chartBalance{
    margin-bottom: 80px;
  }
}

.poolMsg {
  text-align: center;
  border-radius: 0;
}

.modal{
    text-align: center;
    .agree{
        margin: 60px 0 0;
        color: #FFA863;
    }
}
.modal p{
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  line-height: 21px;
  margin: 0;
}
