.tradeInfoPool {
  max-width: 1200px;
  margin: 48px auto 140px;
  .chartBalance {
    margin-bottom: 80px;

    & > div {
      height: 550px;
    }
    .charWpr {
      background-color: #fff;
      border-radius: 8px;
    }
  }
}

.modal {
  text-align: center;
  :global{
    .ant-modal-title{
      font-size: 24px;
      font-family: Gilroy-Bold, Gilroy;
      font-weight: bold;
      color: #F55858;
      line-height: 30px;
      letter-spacing: 1px;
    }
    .ant-modal-body{
      padding-bottom: 54px;
    }
    .ant-modal-footer{
      padding-bottom: 24px;
    }
  }
  .agree {
    margin: 22px 0 0;
    color: #F55858;
  }
}
.modal p {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  line-height: 21px;
  margin: 0;
}
