.bannerDatas {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;

  span {
    font-size: 18px;
    font-family: Gilroy-Regular, Gilroy;
    font-weight: 400;
    color: #000000;
    line-height: 22px;
    opacity: 0.6;
  }

  p {
    font-size: 42px;
    font-family: DINPro-Bold, DINPro;
    font-weight: bold;
    color: #272727;
    line-height: 54px;
    margin-bottom: 10px;
  }
}

.tradeInfoPool {
  &.mobile {
    margin-bottom: 60px;
    margin-top: 30px;
    .chartBalance {
      margin: 0;
      box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
      & > div {
        height: auto;
      }
    }
  }
  max-width: 1200px;
  margin: 48px auto 140px;
  .chartBalance {
    margin-bottom: 80px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);

    & > div {
      height: 504px;
    }
    .charWpr {
      background-color: #fff;
      border-radius: 8px;
    }
  }
}

.modal {
  text-align: center;
  :global {
    .ant-modal-body {
      padding-top: 0;
      padding-bottom: 64px;
    }
    .ant-modal-header {
      padding: 36px 0 28px;
    }
    .ant-modal-footer {
      padding-top: 0;
      padding-bottom: 24px;
    }
  }
  .agree {
    margin: 22px 0 0;
    color: #f55858;
  }
}
.modal p {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  line-height: 21px;
  margin: 0;
}
