.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.box2 {
  z-index: 30;
  height: 293px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  width: 400px;

  .group1 {
    z-index: auto;
    width: 120px;
    height: 16px;
    margin: 30px 0 0 30px;

    .info4 {
      z-index: 31;
      width: 120px;
      display: block;
      overflow-wrap: break-word;
      color: rgba(51, 51, 51, 1);
      font-size: 16px;
      letter-spacing: 0.8933333158493042px;
      font-family: Gilroy-Bold;
      line-height: 20px;
      text-align: right;
    }
  }

  .group2 {
    z-index: auto;
    width: 120px;
    height: 12px;
    margin: 16px 0 0 30px;

    .word6 {
      z-index: 32;
      width: 120px;
      display: block;
      overflow-wrap: break-word;
      color: rgba(51, 51, 51, 1);
      font-size: 12px;
      letter-spacing: 0.6700000166893005px;
      font-family: Gilroy-Regular;
      line-height: 14px;
      text-align: left;
    }
  }

  .group3 {
    z-index: auto;
    width: 334px;
    height: 36px;
    justify-content: space-between;
    margin: 12px 0 0 30px;

    .wrap {
      display: flex;
      flex-direction: column;
      width: 70px;
      height: 36px;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(210, 210, 210);

      &.active {
        background-color: rgba(19, 70, 255, 1);
      }

      &.noborder {
        border: 1px solid transparent;
      }

      .info {
        width: 45px;
        display: block;
        overflow-wrap: break-word;
        color: rgba(51, 51, 51, 1);
        font-size: 14px;
        letter-spacing: 0.7816666960716248px;
        font-family: Gilroy-Medium;
        line-height: 17px;
        text-align: right;
      }
    }

    .wrap1 {
      z-index: 37;
      height: 36px;
      border-radius: 4px;
      background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng7e1f63fb0016246224f7aedce250b09c81fea788be96324e910434bbfde45a4e) -1px -1px
        no-repeat;
      width: 70px;
      justify-content: center;
      align-items: center;

      .info5 {
        z-index: 38;
        width: 45px;
        display: block;
        overflow-wrap: break-word;
        color: rgba(51, 51, 51, 1);
        font-size: 14px;
        letter-spacing: 0.7816666960716248px;
        font-family: Gilroy-Medium;
        line-height: 17px;
        text-align: right;
      }
    }

    .wrap2 {
      z-index: 40;
      height: 36px;
      border-radius: 4px;
      background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng7e1f63fb0016246224f7aedce250b09c81fea788be96324e910434bbfde45a4e) -1px -1px
        no-repeat;
      width: 70px;
      justify-content: center;
      align-items: center;

      .word7 {
        z-index: 41;
        width: 45px;
        display: block;
        overflow-wrap: break-word;
        color: rgba(51, 51, 51, 1);
        font-size: 14px;
        letter-spacing: 0.7816666960716248px;
        font-family: Gilroy-Medium;
        line-height: 17px;
        text-align: right;
      }
    }

    .wrap3 {
      z-index: 54;
      height: 36px;
      border-radius: 4px;
      background-color: rgba(19, 70, 255, 1);
      width: 70px;
      justify-content: center;
      align-items: center;

      .txt4 {
        z-index: 55;
        width: 45px;
        display: block;
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
        letter-spacing: 0.7816666960716248px;
        font-family: Gilroy-Medium;
        line-height: 17px;
        text-align: right;
      }
    }

    .wrap4 {
      z-index: 43;
      width: 70px;
      height: 36px;
      border-radius: 4px;
      background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng7e1f63fb0016246224f7aedce250b09c81fea788be96324e910434bbfde45a4e) -1px -1px
        no-repeat;
    }

    .txt5 {
      z-index: 44;
      width: 16px;
      display: block;
      overflow-wrap: break-word;
      color: rgba(51, 51, 51, 1);
      font-size: 14px;
      letter-spacing: 0.7816666960716248px;
      font-family: Gilroy-Medium;
      line-height: 17px;
      text-align: left;
      margin-top: 11px;
    }
  }

  .group4 {
    z-index: auto;
    width: 25px;
    height: 18px;
    margin: 8px 0 0 133px;

    .word8 {
      z-index: 35;
      width: 25px;
      display: block;
      overflow-wrap: break-word;
      color: rgba(255, 255, 255, 1);
      font-size: 12px;
      letter-spacing: -0.07199999690055847px;
      font-family: Gilroy-Regular;
      line-height: 18px;
      text-align: right;
    }
  }

  .group5 {
    z-index: auto;
    width: 130px;
    height: 12px;
    margin: 4px 0 0 30px;

    .word9 {
      z-index: 33;
      width: 130px;
      display: block;
      overflow-wrap: break-word;
      color: rgba(51, 51, 51, 1);
      font-size: 12px;
      letter-spacing: 0.6700000166893005px;
      font-family: Gilroy-Regular;
      line-height: 14px;
      text-align: left;
    }
  }

  .group6 {
    z-index: auto;
    width: 108px;
    height: 36px;
    justify-content: space-between;
    margin: 12px 0 0 30px;

    .layer2 {
      z-index: 50;
      height: 36px;
      border-radius: 4px;
      background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng7e1f63fb0016246224f7aedce250b09c81fea788be96324e910434bbfde45a4e) -1px -1px
        no-repeat;
      width: 70px;
      justify-content: center;
      align-items: flex-end;
      padding-right: 11px;

      .word10 {
        z-index: 51;
        width: 45px;
        display: block;
        overflow-wrap: break-word;
        color: rgba(51, 51, 51, 1);
        font-size: 14px;
        letter-spacing: 0.7816666960716248px;
        font-family: Gilroy-Medium;
        line-height: 17px;
        text-align: center;
      }
    }

    .txt6 {
      z-index: 52;
      width: 30px;
      display: block;
      overflow-wrap: break-word;
      color: rgba(51, 51, 51, 1);
      font-size: 14px;
      letter-spacing: 0.7816666960716248px;
      font-family: Gilroy-Medium;
      line-height: 17px;
      text-align: left;
      margin-top: 11px;
    }
  }

  .group7 {
    z-index: auto;
    width: 340px;
    height: 30px;
    justify-content: space-between;
    margin: 21px 0 0 30px;

    .word11 {
      z-index: 34;
      width: 78px;
      display: block;
      overflow-wrap: break-word;
      color: rgba(51, 51, 51, 1);
      font-size: 12px;
      letter-spacing: 0.6700000166893005px;
      font-family: Gilroy-Regular;
      line-height: 14px;
      text-align: left;
      margin-top: 9px;
    }

    .main1 {
      z-index: 45;
      width: 60px;
      height: 30px;
      background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng2da4438750d69b24fb461aa4eb2ba1dab95be4ba1b3a1b7a9840d03d8b574c1d) -1px -1px
        no-repeat;
    }
  }
}
