@down-background-color: #ffffff;
@down-drop-border: #eeeeee;
@down-item-border: #f1f1f1;
@down-link-color: #1346ff;
@trigger-color: #6a737d;

.dropdownWrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: @trigger-color;

  .downText {
    display: block;
    line-height: 18px;
  }

  .downIcon {
    display: block;
    margin-left: 0.3em;
  }
}

.overlayWrapper {
  .dropList {
    display: block;
    margin: 0;
    padding: 2px 0;
    border-radius: 4px;

    border: 1px solid @down-drop-border;
    background-color: @down-background-color;

    .dropItem {
      list-style: none;
      display: block;
      line-height: 28px;
      height: 30px;
      font-size: 12px;
      padding: 0 15px;
      cursor: pointer;
      border-bottom: 1px solid @down-item-border;
      color: @down-link-color;

      &:hover {
        background-color: #f8f8f8;
      }
    }
  }
}
