:global(.mobile) {
  .root {
    margin: 0 0 60px 0;
    padding: 10px;
    & > h1 {
      font-size: 18px;
      margin: 30px 0;
    }
    .card {
      width: 100%;
      padding-bottom: 0;
    }
    .calcute {
      font-size: 16px;
    }
    .swapContainer {
      width: 100%;
      padding: 1em;
    }
    .unit,
    .targetUnit {
      font-size: 16px;
    }
  }
}
.root {
  margin: 80px 0 140px;
  padding-right: 3em;
  text-align: center;

  .card {
    max-width: 900px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px 0;
  }
  .imgBar {
    height: 272px;
  }
  .lastRow {
    margin-bottom: 0 !important;
  }
  .swapContainer {
    width: 480px;
    margin: 0 auto;
  }
  h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333333;
    line-height: 59px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 60px;
  }
  input {
    width: 100%;
    height: 50px;
  }
  .swap {
    text-align: center;
    font-size: 32px;
    vertical-align: middle;
    padding-right: 16px;
  }
  .targetUnit {
    top: 0;
    line-height: 50px;
  }
  .targetUnit,
  .unit {
    width: 3em;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #333333;
  }
  .msg {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    line-height: 22px;
    letter-spacing: 1px;
    margin-top: 16px;
  }
  .calcute {
    font-size: 24px;
    font-weight: bold;
    color: #1346ff;
    line-height: 31px;
    letter-spacing: 1px;
    margin: 12px 0 24px;
  }
  button {
    height: 50px;
    width: 100%;
    letter-spacing: 1px;
    margin-top: 12px;
  }
}
