.maxWithdraw {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  line-height: 17px;
  display: inline-block;
  margin-left: 20px;
  span {
    font-weight: bold;
  }
}

.repay {
  margin-top: 16px;
  p {
    font-size: 14px;
    font-family: Gilroy-Medium, Gilroy;
    font-weight: 500;
    color: #333333;
    line-height: 17px;
    margin: 20px 0 36px;
  }
}
