.tooltip {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.6);
  & > div {
      width: 560px;
      height: 311px;
      background-color: #FFF;
      border-radius: 8px;
      position: relative;
      padding: 30px;
      text-align: center;
  }
  .close {
    position: absolute;
    top: 24px;
    right: 44px;
  }

  .imgContent{
    margin: 15px auto 55px;
  }

  p {
    margin-bottom: 43px;
  }
}
