@import "../sections/variables.less";

.root {
  color: #fff;
  padding: 40px 0;
  background-color: #0e1421;

  .content {
    max-width: @maxWidth;
    margin: 0 auto;
  }

  .left {
    h2 {
      color: #fff;
      font-size: 32px;
      opacity: 0.8;
    }
    p{
      color: #A8B0BB;
      font-size: 20px;
    }
  }
}
