@import './font.css';

body {
  -webkit-font-smoothing: antialiased;
  background-color: #f9fafc !important;
  font-family: Gilroy-Medium, sans-serif, serif !important;
}

/** Descriptions */
.ant-descriptions-item > span {
  width: 50%;
}

.ant-descriptions-item > span:nth-child(1) {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: #a6a6a6;
  line-height: 17px;
}

.ant-descriptions-item > span:nth-child(2) {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  line-height: 17px;
}

/** Table */
.ant-table-thead th {
  background-color: #fff !important;
}

.ant-table-tbody tr:hover td {
  background-color: #f6f7f9 !important;
}

.ant-table-tbody td,
.ant-table-thead th,
.ant-table-thead td {
  border: 0;
}

.ant-table-thead .ant-table-column-title {
  font-size: 14px;
  color: #808080;
  font-weight: normal;
}

/** Modal */
.ant-modal-root {
  .ant-modal-title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
  }

  .ant-modal-header {
    padding: 36px 0 4px;
    border-bottom: 0;
  }

  .ant-modal-footer {
    border-top: 0;
    text-align: center;
    padding-bottom: 40px;

    button {
      width: 80%;
    }

    button + button {
      margin-left: 16px !important;
    }
  }
}

/** Dropdown */
.ant-dropdown.ant-dropdown-placement-topRight {
  ul {
    text-align: right;
  }

  li {
    padding: 10px 15px;

    a {
      font-size: 16px;
      font-weight: bold;
      color: #303236;
    }
  }
}

/** Drawer */
.ant-drawer-right .ant-drawer-content .ant-drawer-body {
  padding: 10px 0 0;

  & > ul {
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    color: #303236;
  }

  a,
  .ant-menu,
  .ant-menu-item:active,
  .ant-menu-submenu-title:active,
  .ant-menu-submenu > .ant-menu,
  .ant-menu-item {
    background-color: #fff;
    color: #303236;
  }

  .ant-menu-submenu-selected,
  .ant-menu-submenu-title:hover {
    color: #303236;
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fff;
    color: #303236;
  }

  .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
    background: #1346ff;
  }
}

/** Progress */
.ant-progress-inner {
  background-color: #e7ebf4;
}

.ant-progress-inner,
.ant-progress-bg {
  border-radius: 0 !important;
}

.ant-progress-circle .ant-progress-text {
  font-size: 16px;
  font-weight: bold;
  color: #1346ff !important;
}

.ant-progress-circle svg {
  transform: rotateY(180deg);
}

/** Select */
.ant-row.ant-form-item {
  margin-bottom: 16px;
}

.ant-menu-submenu > .ant-menu {
  background: #fff !important;

  .ant-menu-item > a {
    color: #333;
  }

  .ant-menu-item-selected > a,
  .ant-menu-item-selected > a:hover {
    color: #fff;
  }
}

.ant-menu.ant-menu-horizontal > .ant-menu-submenu-selected,
.ant-menu.ant-menu-horizontal > .ant-menu-submenu:hover {
  border-color: #1346ff;
}

/** Tabs */
.dds-tabs {
  .ant-tabs-bar {
    border: 0;
  }

  & > .ant-tabs-content {
    .ant-tabs-tabpane {
      background-color: #fff;
      // box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
    }
  }

  &.miningTabs {
    & > .ant-tabs-bar {
      .ant-tabs-tab {
        width: 33.3%;
      }
    }
  }

  & > .ant-tabs-bar {
    margin-bottom: 25px;

    .ant-tabs-nav {
      width: 100%;

      .ant-tabs-tab-active {
        background: #e7ebf4;
        border-radius: 9px;
        margin-right: 0;
      }
    }

    .ant-tabs-tab {
      width: 50%;
      text-align: center;
      margin: 0;
      line-height: 43px;
      font-size: 18px;
      font-weight: bold;
      color: #333333;
    }

    .ant-tabs-ink-bar {
      visibility: hidden;
    }
  }
}

.mobile {
  .dds-tabs {
    & > .ant-tabs-bar {
      .ant-tabs-tab {
        font-size: 14px;
        line-height: 50px;
        padding: 0;
      }
    }
  }

  button {
    border-radius: 4px;
  }
}

.ant-drawer-content .ant-drawer-header {
  padding: 24px 15px;
  border-bottom: 0;

  .ant-drawer-title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
  }
}

.ant-drawer-content .ant-drawer-body {
  padding: 0 15px 24px;

  h4 {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 15px;
  }
}

.font-w-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.color-3 {
  color: #333;
}

button.buttonGreen {
  border-color: #15b384;
  background-color: #15b384;

  &:focus,
  &:hover {
    background-color: #15b384;
    border-color: #15b384;
  }
}

button.buttonRed {
  border-color: #f55858;
  background-color: #f55858;

  &:focus,
  &:hover {
    background-color: #f55858;
    border-color: #f55858;
  }
}

.submenu-dialog {
  max-width: 382px;
  background: #fff;
  font-size: 14px;
  color: #333333;
  line-height: 17px;

  .top {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-bottom: 1px solid #f3f3f3;
    font-family: Gilroy-Bold, Gilroy;

    .content {
      font-family: Gilroy-Medium, Gilroy;
      font-weight: 500;
      color: #666666;
      margin-top: 10px;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-around;
  }

  .link {
    color: #333;
    z-index: 1;
    width: 50%;
    padding: 12px 0;
    text-align: center;

    &:first-child {
      border-right: 1px solid #f3f3f3;
    }
    &:hover {
      background-color: #f8f8f8;
    }
  }

  .mobile-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
