@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./assets/fonts/gilroy-bold-4.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #f9fafc !important;
  font-family: Gilroy-Heavy, Gilroy proxima-nova, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Wenquanyi Micro Hei,
    WenQuanYi Micro Hei Mono, WenQuanYi Zen Hei, Apple LiGothic Medium, SimHei, ST Heiti, WenQuanYi Zen Hei Sharp !important;
}

/** Descriptions */
.ant-descriptions-item > span {
  width: 50%;
}
.ant-descriptions-item > span:nth-child(1) {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: #a6a6a6;
  line-height: 17px;
}
.ant-descriptions-item > span:nth-child(2) {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  line-height: 17px;
}

/** Table */
.ant-table-thead th {
  background-color: #fff !important;
}
.ant-table-tbody tr:hover td {
  background-color: #f6f7f9 !important;
}
.ant-table-tbody td,
.ant-table-thead th,
.ant-table-thead td {
  border: 0;
}
.ant-table-thead .ant-table-column-title {
  font-size: 14px;
  color: #808080;
  font-weight: normal;
}

/** Modal */
.ant-modal-root {
  .ant-modal-title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
  }
  .ant-modal-header {
    padding: 36px 0 4px;
    border-bottom: 0;
  }
  .ant-modal-footer {
    border-top: 0;
    text-align: center;
    padding-bottom: 40px;

    button {
      width: 80%;
    }

    button + button {
      margin-left: 16px !important;
    }
  }
}
/** Dropdown */
.ant-dropdown.ant-dropdown-placement-topRight {
  ul {
    text-align: right;
  }
  li {
    padding: 10px 15px;
    a {
      font-size: 16px;
      font-weight: bold;
      color: #303236;
    }
  }
}
/** Drawer */
.ant-drawer-right .ant-drawer-content .ant-drawer-body {
  padding: 10px 0 0;
  & > ul {
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    color: #303236;
  }
  a,
  .ant-menu,
  .ant-menu-item:active,
  .ant-menu-submenu-title:active,
  .ant-menu-submenu > .ant-menu,
  .ant-menu-item {
    background-color: #fff;
    color: #303236;
  }
  .ant-menu-submenu-selected,
  .ant-menu-submenu-title:hover {
    color: #303236;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fff;
    color: #303236;
  }
  .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
    background: #c5c8ce;
  }
}
/** Progress */
.ant-progress-inner {
  background-color: #e7ebf4;
}
.ant-progress-inner,
.ant-progress-bg {
  border-radius: 0 !important;
}
.ant-progress-circle .ant-progress-text {
  font-size: 16px;
  font-weight: bold;
  color: #1346ff !important;
}
.ant-progress-circle svg {
  transform: rotateY(180deg);
}
/** Select */
.ant-row.ant-form-item {
  margin-bottom: 16px;
}

/** Tabs */
.dds-tabs {
  .ant-tabs-bar {
    border: 0;
  }
  & > .ant-tabs-content {
    .ant-tabs-tabpane {
      background-color: #fff;
      box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
    }
  }
  & > .ant-tabs-bar {
    margin-bottom: 40px;
    .ant-tabs-nav {
      width: 100%;

      .ant-tabs-tab-active {
        background: #e7ebf4;
        border-radius: 9px;
        margin-right: 0;
      }
    }
    .ant-tabs-tab {
      width: 50%;
      text-align: center;
      margin: 0;
      line-height: 43px;
      font-size: 18px;
      font-weight: bold;
      color: #333333;
      letter-spacing: 1px;
    }
    .ant-tabs-ink-bar {
      visibility: hidden;
    }
  }
}

.mobile {
  .dds-tabs {
    & > .ant-tabs-bar {
      .ant-tabs-tab {
        font-size: 14px;
        line-height: 50px;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  button {
    border-radius: 4px;
  }
}

.ant-drawer-content .ant-drawer-header {
  padding: 24px 15px;
  border-bottom: 0;
  .ant-drawer-title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
  }
}
.ant-drawer-content .ant-drawer-body {
  padding: 0 15px 24px;
  h4 {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 15px;
  }
}

.font-w-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}
.color-3 {
  color: #333;
}
