.shieldDao {
  background-color: #fff;
  position: relative;
  color: #000;
  text-align: center;
  margin: 0 auto;
  padding-top: 1.5rem;

  img {
    height: 100%;
    width: auto;
  }

  .bgImg {
    background-image: url('../../../assets//shield-dao-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    & > div {
      h3 {
        font-size: 0.6rem;
        font-family: Gilroy-Bold, Gilroy;
        font-weight: bold;
        color: #000000;
        line-height: 0.74rem;
      }
      h3 + p {
        font-size: 0.18rem;
        font-family: Gilroy-Light, Gilroy;
        font-weight: 300;
        color: #000000;
        line-height: 0.22rem;
        margin-top: 0.24rem;
      }

      span {
        font-size: 0.18rem;
        font-family: Gilroy-Light, Gilroy;
        font-weight: 300;
        line-height: 0.22rem;
        margin-top: 0.3rem;
      }
    }
  }
}
