:global(.mobile) {
  .root {
    padding: 52px 30px 64px;
    text-align: center;
    height: 100vh;
    background: #1346ff;
    .content {
      padding-left: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      transform: translate(-50%, -50%);
      .read {
        margin: 0 auto;
      }
      h2 {
        font-size: 36px;
      }
    }
  }
}

.root {
  background-color: #1346ff;
  height: 600px;
  color: #fff;
  padding-top: 50px;
  position: relative;
  background: #1346ff url('../../assets/imgs/banner.png') 90% bottom no-repeat;
  background-size: 55%;

  .content {
    padding-left: 120px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  h2 {
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    margin-bottom: 0px;
  }
  .spot,
  .read {
    text-transform: uppercase;
    width: 170px;
  }
  .spot {
    height: 50px;
    border-radius: 2px;
    color: #0049da;
    margin: 40px 0 24px;
  }

  .read {
    color: #fff;
    display: block;
    height: 1em;
    line-height: 1em;
  }
}

@media screen and (min-width: 1400px) {
  .root {
    background: #1346ff url('../../assets/imgs/banner.png') 80% bottom no-repeat;
    background-size: 38%;
  }
}

@media screen and (min-width: 2000px) {
  .root {
    background: #1346ff url('../../assets/imgs/banner.png') 80% bottom no-repeat;
    background-size: 34%;
  }
}
