.root {
  background-color: #1346ff;
  height: 100vh;
  max-height: 1000px;
  color: #fff;
  padding-top: 50px;
  position: relative;
  background-image: url(https://via.placeholder.com/1600x722/1346ff/1346ff?Text=WebsiteBuilders.com);
  .content {
    padding-left: 120px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  h2 {
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    margin-bottom: 0px;
  }
  .spot, .read{
    text-transform: uppercase;
    width: 170px;
  }
  .spot {
    height: 50px;
    border-radius: 2px;
    color: #0049da;
    margin: 40px 0 24px;
  }

  .read {
    color: #fff;
    display: block;
  }
}
